/target/
.idea/
.settings/
/*.ser
*.ser
workspaceGame_projectslotr

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
LOTRQuest_CLI.eml


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings